html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #openseadragon1 {
    background-color: #dce2ff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  #searchbox {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    overflow: scroll;
    z-index: 2;
    background-color: white;
    display: none;
    padding: 1em;
    border: 2px solid black;
  }
  #searchbox a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    padding: 0.5em;          
  }
  #searchbox a:hover {
    display: block;
    color: black;
    background-color: lightgray;
  }
  #searchboxopener {
    position: absolute;
    bottom: 1em;
    left: 1em;
    overflow: scroll;
    z-index: 2;
    padding: 1em;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
  }